@media(max-width:768px) {
    .mainContainer {
    }
}
@media(max-width:470px) {
    .mainContainer {
        flex-direction: column;
    }
}

.mainContainer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noteContainer {
    padding: 8px;
}
